<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LM_TestDev_WSSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="LM_TestDev_WSSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54016/LM_TestDev_WS.asmx"
                binding="customBinding" bindingConfiguration="LM_TestDev_WSSoap12"
                contract="LM_TestDev_WS_Reference.LM_TestDev_WSSoap" name="LM_TestDev_WSSoap12" />
        </client>
    </system.serviceModel>
</configuration>